:root {
    --orange: #e47b0a;
    --weakOrange: #ed8f0c;
    --white: #ffff;
    --weakGray: #f9f9fb;
    --weakGray2: #adadad9d;
    --darkGray: #303f4e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

/* Spinner ao carregar a pagina */

.spinner {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--weakGray);
    z-index: 999;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #ed8f0c;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ed8f0c transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* end */

.header {
    position: absolute;
    width: 100%;
}

header {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav .nav-list a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--white);
}

nav .nav-list a:hover {
    color: var(--orange);
    transition: 0.3s;
}

.logo img {
    width: 200px;
}

@media screen and (max-width: 700px) {
    nav {
        background-color: yellow;
    }

    nav .nav-list {
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        width: 50%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 80px 0;
        background-color: red;
        transition: 0.5s;
        background-color: var(--weakOrange);
    }

    .nav-list.openMenu {
        right: 0%;
    }

    .header .activeMenu {
        display: block;
    }
}

.activeMenu {
    position: absolute;
    width: 30px;
    height: 3px;
    top: 30px;
    right: 20px;
    border-radius: 5px;
    background-color: var(--white);
    z-index: 999;
    display: none;
}

.activeMenu::after {
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 5px;
    top: 8px;
    position: absolute;
    background-color: var(--white);
}

.activeMenu::before {
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 5px;
    bottom: 8px;
    position: absolute;
    background-color: var(--white);
}

/* Layout */

.layout {
    width: 100%;
    background-image: url(../img/layout.png);
    background-size: cover;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.733);
    height: 100vh;

    display: flex;
    align-items: center;
}

.layout div {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.layout h1 {
    color: var(--white);
    font-size: 5em;
    width: 70%;
    margin: 10px 0;
}

.layout p {
    font-size: 1.2em;
    color: var(--white);
    margin: 20px 0 50px 0;
}

.layout .buttons {
    width: 100%;
    display: flex;
    gap: 20px;
}

.layout .buttons a {
    background-color: var(--orange);
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: bolder;
}

.layout .buttons a:hover {
    background-color: var(--white);
    color: var(--orange);
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
    .layout h1 {
        font-size: 3.8em;
    }

    .layout .buttons {
        flex-direction: column;
        text-align: center;
    }
}

/* End Layout */

.valores {
    width: 100%;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.valores-texto {
    padding: 30px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--weakGray);
    text-align: center;
}

.valores-texto > p {
    font-size: 0.9em;
    color: var(--darkGray);
    margin-top: 20px;
    border-top: 1px solid var(--weakGray2);
    padding: 20px 0;
}

.valores-contato {
    width: 60%;
    min-width: 350px;
    margin: 80px 0;
}

.valores-contato h2 {
    font-size: 3.5em;
    text-align: center;
    color: var(--darkGray);
}

.valores-contato > p {
    text-align: center;
    margin: 20px 0;
    color: var(--darkGray);
}

.sobre-home {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre-home .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    border-bottom: 1px solid var(--weakGray2);
    margin-bottom: 50px;
    width: 100%;
}

.sobre-home .carousel {
    width: 50%;
    min-width: 380px;
}

.sobre-home .carousel img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 10px -8px 30px 1px rgba(63, 33, 255, 0.233);
}

.sobre-home .objetivos {
    width: 50%;
    min-width: 380px;
}

.sobre-home .objetivos > h4 {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.2em;
    margin: 30px 0;
}

.sobre-home .objetivos h3 {
    color: var(--darkGray);
    font-size: 2.2em;
    margin: 20px 0;
}

.sobre-home .objetivos > p {
    color: var(--darkGray);
    font-size: 1.2em;
}
.qtd-projetos {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.qtd-projetos div {
    text-align: center;
}

.qtd-projetos div > h4 {
    color: var(--darkGray);
    font-size: 4em;
}

.trabalhos-selecionados {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
}

.trabalhos-selecionados h2 {
    font-size: 3.5em;
    color: var(--darkGray);
    margin: 30px 0;
}

.trabalhos-selecionados p {
    font-size: 1em;
    color: var(--darkGray);
    width: 80%;
    text-align: center;
    margin: 30px 0;
}

.trabalhos-selecionados .trabalhos {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trabalhos-selecionados .trabalhos img {
    min-width: 300px;
    width: 30%;
}

.trabalhos-selecionados a {
    background-color: var(--orange);
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: bolder;
}

.trabalhos-selecionados a:hover {
    background-color: var(--weakOrange);
    transition: 0.3s;
}

.contate-nos {
    background-color: var(--weakGray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid var(--weakGray2);
}

.contate-nos h2 {
    font-size: 3.5em;
    text-align: center;
    color: var(--darkGray);
    width: 80%;
    margin: 30px 0;
}

.contate-nos p {
    color: var(--darkGray);
    font-size: 1em;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
}

.contate-nos a {
    background-color: var(--orange);
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: bolder;
}

.contate-nos a:hover {
    background-color: var(--weakOrange);
    transition: 0.3s;
}

footer {
    background-color: var(--darkGray);
    padding: 30px 0 10px 0;
}

.containerFooter {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    flex-wrap: wrap;
    margin: 0 auto;
}

.nav-bottom {
    width: 30%;
    min-width: 300px;
}

.nav-bottom li {
    list-style: none;
    margin: 10px 0;
}

.nav-bottom a {
    text-decoration: none;
    color: var(--white);
}

.nav-bottom a:hover {
    color: var(--orange);
    transition: 0.3s;
    text-decoration: underline;
}

.informaçoes {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--white);
}

.informaçoes i {
    margin-right: 10px;
}

.redes-sociais {
    width: 30%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.redes-sociais i {
    font-size: 30px;
    color: var(--white);
}

.redes-sociais i:hover {
    color: var(--orange);
    transition: 0.3s;
}

.desenvolvedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--weakGray);
}

.desenvolvedor p {
    width: 280px;
    color: var(--white);
}

.desenvolvedor a {
    text-decoration: none;
    color: var(--weakOrange);
}

.desenvolvedor a:hover {
    color: var(--orange);
    transition: 0.3s;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .containerFooter {
        text-align: center;
    }

    .redes-sociais {
        margin-bottom: 20px;
    }
}

.btn-scroll {
    display: none;
}

.btn-to-top {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--orange);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.btn-to-top:hover {
    background-color: var(--weakOrange);
}

.btn-to-top i {
    color: var(--white);
    font-size: 18px;
}

/********* End Home *********/

/* Pagia de contato */

.layout-contato {
    height: 500px;
    background-image: url(../img/layout-contato.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
}

.layout-contato > div {
    width: 90%;
    height: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

.layout-contato div > h1 {
    font-size: 5em;
    color: var(--white);
}

.formulario-contato > div {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.formulario-contato form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.formulario-contato form h2 {
    color: var(--darkGray);
    font-size: 2rem;
    margin: 10px 0;
}

.formulario-contato form p {
    color: var(--darkGray);
    font-size: 1rem;
    margin: 20px 0;
}

.flex1,
.flex2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex1 > div,
.flex2 > div {
    display: flex;
    flex-direction: column;
}

.formulario-contato input {
    width: 250px;
    height: 35px;
    border: 1px solid var(--weakGray2);
    border-radius: 5px;
    margin: 5px 0 20px 0;
    padding: 5px;
    color: var(--darkGray);
}

.formulario-contato input:focus,
.formulario-contato textarea:focus {
    outline: 1px solid var(--weakOrange);
}

.formulario-contato .msgInput {
    color: #ff0000;
    font-weight: bold;
    margin: 0;
}

.formulario-contato textarea {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid var(--weakGray2);
    border-radius: 5px;
}

.formulario-contato label {
    color: var(--darkGray);
    font-weight: bold;
}

.formulario-contato button {
    width: 150px;
    height: 40px;
    margin: 10px 0;
    background-color: var(--orange);
    border: #e47b0a;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.formulario-contato button:hover {
    background-color: var(--weakOrange);
}

.img-contato {
    width: 40%;
    padding: 40px;
    border-radius: 15px;
    background-color: var(--weakGray);
}

.img-contato img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px -3px #303f4e;
}

.img-contato h4 {
    color: var(--darkGray);
    margin: 25px 0;
    font-size: 1.8rem;
}

.img-contato p {
    color: var(--darkGray);
    margin: 8px 0;
}

@media screen and (max-width: 1120px) {
    .formulario-contato > div {
        flex-direction: column;
        align-items: center;
    }

    .formulario-contato form {
        width: 90%;
    }

    .formulario-contato input {
        width: 380px;
    }

    .img-contato {
        width: 80%;
    }

    .layout-contato div > h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 980px) {
    .flex1,
    .flex2 {
        flex-direction: column;
    }

    .formulario-contato input {
        width: 100%;
    }

    .img-contato {
        width: 100%;
    }
}

/* ***********End Contato************** */

/* Portfólio */

.layout-portfolio {
    height: 500px;
    width: 100%;
    background-image: url(../img/layout-portfolio.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-portfolio > div {
    width: 90%;
    max-width: 1200px;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.layout-portfolio h1 {
    font-size: 5rem;
    color: var(--white);
}

.projetos-entregues {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
}

.projetos-entregues h2 {
    color: var(--darkGray);
    font-size: 2rem;
    margin: 10px 0;
}

.projetos-entregues p {
    color: var(--darkGray);
    font-size: 16px;
    max-width: 480px;
}

.projetos-entregues div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.projetos-entregues div img {
    width: 50%;
}

@media screen and (max-width: 1120px) {
    .layout-portfolio h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px) {
    .projetos-entregues div {
        flex-direction: column;
    }

    .projetos-entregues div img {
        width: 100%;
    }
}

.layout-servicos {
    width: 100%;
    height: 500px;
    background-image: url(../img/layout-servicos.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.534);
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-servicos div {
    height: 80%;
    width: 90%;
    max-width: 1200px;
    display: flex;
    align-items: flex-end;
}

.layout-servicos h1 {
    font-size: 5rem;
    color: var(--white);
}

.servicos {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    border-bottom: 2px solid var(--weakGray2);
    padding: 30px 0;
}

.servicos h2 {
    font-size: 2.5rem;
    color: var(--darkGray);
    margin: 20px 0;
}

.servicos p {
    color: var(--darkGray);
    max-width: 500px;
    font-size: 16px;
    line-height: 26px;
}

.servicos > div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin: 50px 0;
}

.servicos .item {
    width: 49%;
    padding: 20px;
    border: solid 2px var(--weakGray2);
}

.servicos .item:hover {
    border: 2px solid var(--orange);
    background-color: var(--weakGray);
}

.servicos .item h3 {
    color: var(--darkGray);
    margin: 20px 0;
    font-size: 1.6rem;
}

.servicos .item p {
    color: var(--darkGray);
    font-size: 16px;
    margin: 30px 0;
}

.servicos .item a {
    color: #e47b0a;
    font-size: 16px;
    text-decoration: none;
}

.lista-servicos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lista-servicos div {
    width: 24%;
    min-width: 210px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
}

.lista-servicos > div p {
    color: var(--darkGray);
    margin: 5px 0;
    border-bottom: 1px solid var(--weakGray2);
}

.lista-servicos > div p:hover {
    color: var(--weakOrange);
}

.lista-servicos > div span {
    color: var(--orange);
    margin-right: 10px;
}

.perguntas-frequentes {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perguntas-frequentes h2 {
    color: var(--darkGray);
    font-size: 2.5rem;
    margin: 50px 0 30px 0;
}

.perguntas-frequentes > p {
    font-size: 16px;
    color: var(--darkGray);
    max-width: 560px;
    text-align: center;
    margin-bottom: 80px;
}

/* Dropdown "PERGUNTAS" */

.perguntas {
    width: 100%;
    border-radius: 5px;
    background-color: var(--weakGray);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    outline: none;
    transition: 0.4s;
    box-shadow: 0px 0px 30px -2px #303f4e4b;
}

.perguntas details {
    width: 90%;
    font-size: 18px;
    color: var(--darkGray);
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
    background-color: var(--white);
    margin: 15px 0;
}

.perguntas details[open] {
    color: #e47b0a;
}

.perguntas summary {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perguntas p {
    padding: 10px 10px;
    color: var(--darkGray);
    font-size: 16px;
    font-weight: 300;
}

/* Dropdown "PERGUNTAS" End */

@media screen and (max-width: 1120px) {
    .layout-servicos h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 680px) {
    .servicos > div {
        flex-direction: column;
    }

    .servicos .item {
        width: 100%;
    }

    .lista-servicos {
        align-items: center;
    }

    .lista-servicos div {
        width: 100%;
    }
}

/* ********End Portfólio********* */


/*************Página Sobre***************/

.layout-sobre {
    width: 100%;
    background-image: url(../img/Layout-sobre.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.589);
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-sobre > div {
    width: 90%;
    max-width: 1200px;
    height: 80%;
    display: flex;
    align-items: flex-end;
}

.layout-sobre h1 {
    font-size: 5rem;
    color: var(--white);
}

.sobre {
    margin: 50px auto;
}

.sobre .historia,
.sobre .abordagem {
    margin: 50px auto;
    width: 90%;
    max-width: 1200px;
    display: flex;
    gap: 30px 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sobre .historia > div,
.sobre .abordagem > div {
    width: 45%;
    min-width: 380px;
}

.sobre .historia img,
.sobre .abordagem img {
    width: 45%;
    min-width: 380px;
    box-shadow: 10px -8px 30px 1px rgba(63, 33, 255, 0.233);
}

.sobre .historia h4,
.sobre .abordagem h4 {
    font-size: 1.5rem;
    color: var(--orange);
}

.sobre .historia h2,
.sobre .abordagem h2 {
    margin: 15px 0;
    color: var(--darkGray);
}

.sobre .historia p,
.sobre .abordagem p {
    color: var(--darkGray);
    font-size: 1.2rem;
    line-height: 30px;
}

@media screen and (max-width: 860px) {
    .sobre .historia > div,
    .sobre .abordagem > div {
        width: 90%;
        min-width: 200px;
    }

    .sobre .historia img,
    .sobre .abordagem img {
        width: 90%;
        min-width: 200px;
    }

    .sobre .abordagem {
        flex-direction: column-reverse;
    }
}

.servicos-sobre {
    width: 100%;
    margin: 100px 0;
    border-top: 1px solid var(--weakGray2);
}

.servicos-sobre h2 {
    font-size: 3rem;
    color: var(--darkGray);
    text-align: center;
    margin: 30px 0;
}

.servicos-sobre > div {
    width: 90%;
    max-width: 1200px;
    display: flex;
    gap: 20px 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.servic_sobre {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.servic_sobre div {
    width: 170px;
}

.servic_sobre h3 {
    color: var(--darkGray);
    margin: 15px 0;
    font-size: 1.5rem;
}

.servic_sobre p {
    color: var(--darkGray);
    margin: 13px 0;
    border-bottom: 1px solid var(--weakGray);
}

.servic_sobre p:hover{
    color: var(--orange);
    transition: 500ms;
}

.servic_sobre i {
    color: var(--orange);
    margin-right: 10px;
}

@media screen and (max-width: 393px) {
    .servic_sobre {
        justify-content: center;
    }
}

/* *******Fim pagina "Sobre"********** */