:root {
    --orange: #e47b0a;
    --weakOrange: #ed8f0c;
    --white: #ffff;
    --weakGray: #f9f9fb;
    --weakGray2: #adadad9d;
    --darkGray: #303f4e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

.header {
    position: absolute;
    width: 100%;
}

header {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav .nav-list a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--white);
}

nav .nav-list a:hover {
    color: var(--orange);
    transition: 0.3s;
}

.logo img {
    width: 200px;
}

@media screen and (max-width: 700px) {
    nav {
        background-color: yellow;
    }

    nav .nav-list {
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 0;
        width: 50%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        gap: 80px 0;
        background-color: red;
        transition: 0.5s;
        background-color: var(--weakOrange);
    }

    .nav-list.openMenu {
        right: 0%;
    }

    .header .activeMenu {
        display: block;
    }
}

.activeMenu {
    position: absolute;
    width: 30px;
    height: 3px;
    top: 30px;
    right: 20px;
    border-radius: 5px;
    background-color: var(--white);
    z-index: 999;
    display: none;
}

.activeMenu::after {
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 5px;
    top: 8px;
    position: absolute;
    background-color: var(--white);
}

.activeMenu::before {
    content: "";
    width: 30px;
    height: 3px;
    border-radius: 5px;
    bottom: 8px;
    position: absolute;
    background-color: var(--white);
}

/* Layout */

.layout {
    width: 100%;
    background-image: url(../img/layout.png);
    background-size: cover;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.733);
    height: 100vh;

    display: flex;
    align-items: center;
}

.layout div {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.layout h1 {
    color: var(--white);
    font-size: 5em;
    width: 70%;
    margin: 10px 0;
}

.layout p {
    font-size: 1.2em;
    color: var(--white);
    margin: 20px 0 50px 0;
}

.layout .buttons {
    width: 100%;
    display: flex;
    gap: 20px;
}

.layout .buttons a {
    background-color: var(--orange);
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: bolder;
}

.layout .buttons a:hover {
    background-color: var(--white);
    color: var(--orange);
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
    .layout h1 {
        font-size: 3.8em;
    }

    .layout .buttons {
        flex-direction: column;
        text-align: center;
    }
}

/* End Layout */

.valores {
    width: 100%;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.valores-texto {
    padding: 30px 0;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--weakGray);
    text-align: center;
}

.valores-texto > p {
    font-size: 0.9em;
    color: var(--darkGray);
    margin-top: 20px;
    border-top: 1px solid var(--weakGray2);
    padding: 20px 0;
}

.valores-contato {
    width: 60%;
    min-width: 350px;
    margin: 80px 0;
}

.valores-contato h2 {
    font-size: 3.5em;
    text-align: center;
    color: var(--darkGray);
}

.valores-contato > p {
    text-align: center;
    margin: 20px 0;
}

.sobre-home {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.sobre-home .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    border-bottom: 1px solid var(--weakGray2);
    margin-bottom: 50px;
    width: 100%;
}

.sobre-home .carousel {
    width: 50%;
    min-width: 380px;
}

.sobre-home .carousel img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 10px -8px 30px 1px rgba(63, 33, 255, 0.233);
}

.sobre-home .objetivos {
    width: 50%;
    min-width: 380px;
}

.sobre-home .objetivos > h4 {
    color: var(--orange);
    font-weight: 600;
    font-size: 1.2em;
    margin: 30px 0;
}

.sobre-home .objetivos h3 {
    color: var(--darkGray);
    font-size: 2.2em;
    margin: 20px 0;
}

.sobre-home .objetivos > p {
    color: var(--darkGray);
    font-size: 1.2em;
}
.qtd-projetos {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.qtd-projetos div {
    text-align: center;
}

.qtd-projetos div > h4 {
    color: var(--darkGray);
    font-size: 4em;
}

.trabalhos-selecionados {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
}

.trabalhos-selecionados h2 {
    font-size: 3.5em;
    color: var(--darkGray);
    margin: 30px 0;
}

.trabalhos-selecionados p {
    font-size: 1em;
    color: var(--darkGray);
    width: 80%;
    text-align: center;
    margin: 30px 0;
}

.trabalhos {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trabalhos img {
    min-width: 300px;
    width: 30%;
}

.trabalhos-selecionados a {
    background-color: var(--orange);
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: bolder;
}

.trabalhos-selecionados a:hover {
    background-color: var(--weakOrange);
    transition: 0.3s;
}

.contate-nos {
    background-color: var(--weakGray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid var(--weakGray2);
}

.contate-nos h2 {
    font-size: 3.5em;
    text-align: center;
    color: var(--darkGray);
    width: 80%;
    margin: 30px 0;
}

.contate-nos p {
    color: var(--darkGray);
    font-size: 1em;
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
}

.contate-nos a {
    background-color: var(--orange);
    padding: 20px;
    border-radius: 8px;
    color: var(--white);
    text-decoration: none;
    font-weight: bolder;
}

.contate-nos a:hover {
    background-color: var(--weakOrange);
    transition: 0.3s;
}

footer {
    background-color: var(--darkGray);
    padding: 30px 0 10px 0;
}

.containerFooter {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    flex-wrap: wrap;
    margin: 0 auto;
}

.nav-bottom {
    width: 30%;
    min-width: 300px;
}

.nav-bottom li {
    list-style: none;
    margin: 10px 0;
}

.nav-bottom a {
    text-decoration: none;
    color: var(--white);
}

.nav-bottom a:hover {
    color: var(--orange);
    transition: 0.3s;
    text-decoration: underline;
}

.informaçoes {
    width: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--white);
}

.informaçoes i {
    margin-right: 10px;
}

.redes-sociais {
    width: 30%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.redes-sociais i {
    font-size: 30px;
    color: var(--white);
}

.redes-sociais i:hover {
    color: var(--orange);
    transition: 0.3s;
}

.desenvolvedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--weakGray);
}

.desenvolvedor p {
    width: 280px;
    color: var(--white);
}

.desenvolvedor a {
    text-decoration: none;
    color: var(--weakOrange);
}

.desenvolvedor a:hover {
    color: var(--orange);
    transition: 0.3s;
    text-decoration: underline;
}

@media screen and (max-width: 1000px) {
    .containerFooter {
        text-align: center;
    }

    .redes-sociais {
        margin-bottom: 20px;
    }
}

/********* End Home *********/

/* Pagia de contato */

.layout-contato {
    height: 500px;
    background-image: url(../img/layout-contato.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px 0px 100px 500px rgba(0, 0, 0, 0.733);
    display: flex;
    align-items: center;
}

.layout-contato > div {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.layout-contato div > h1 {
    font-size: 5em;
    color: var(--white);
    margin-top: 100px;
}
